#_com_liferay_layout_admin_web_portlet_GroupPagesPortlet_fm .dragover-top {
	border-top: 5px solid blue;
}

#_com_liferay_layout_admin_web_portlet_GroupPagesPortlet_fm .dragover-middle > div.flex-col-expand {
	border: 5px solid blue;
}

#_com_liferay_layout_admin_web_portlet_GroupPagesPortlet_fm .dragover-bottom {
	border-bottom: 5px solid blue;
}